#navbar {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

#navbar ul {
    display: block;
    border: 2px solid white;
    position: absolute;
    right: 4px;
    top: 40px;
    height: 112px;
    flex-direction: column;
    margin: 0;
}

#navbar ul li a {
    margin: 4px;
    font-size: 1.2rem;
    padding: 0px 8px;
}

#navbar .v-class-res {
    display: none;
}

#navbar .burger {
    position: absolute;
    right: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    margin-right: 5px;
    align-items: center;
}

#navbar .head-logo {
    position: absolute;
    left: 5px;
}

#navbar .burger .line {
    margin: 2px;
    border-radius: 8px;
    width: 37px;
    height: 7px;
    background-color: white;
}

#intro {
    height: 480px;
    flex-direction: column-reverse;
    justify-content: center;
}

#skills {
    height: 550px;
    padding: 0px 20px;
}

#skills .skill-set {
    width: 268px;
    height: 410px;
    grid-template-columns: repeat(2, 133px);
}

#skills .skill-set .skies {
    height: 75px;
    width: 75px;
}

#my-projects{
    height: 650px;
    padding: 0px 50px;
}

#my-projects .pro {
    height: 180px;
    width: 260px;
}

#contacts {
    padding: 0px 60px;
}

#contact-box input, textarea {

    width: 94%;
}

#footer{
    padding: 0px 5px;
}

.pro img {
    height: 140px;
}

.p-primary{
    font-size: 0.8rem;
}

.h-primary{
    font-size: 1rem;
}

.p-secondary {
    font-size: 0.6rem;
}

.top-primary{
    font-size: 2rem;
    margin-top: 25px;
}