

#navbar ul li a {
    margin: 2px;
    font-size: 1.2rem;
    padding: 0px 10px;   
}

#intro {
    padding: 0px 140px;
}

@media screen and (max-width: 772px) {
    #intro{
        padding: 0px 40px;
    }
  }

#intro .logo {
    width: 200px;
    height: 200px;
}

#skills{
    height: 700px;
    padding: 0px 47px;
}

#skills .skill-set {
    width: 360px;
    height: 500px;
    grid-template-columns: repeat(2, 190px);
}

#skills .skill-set .skies {
    height: 115px;
    width: 115px;
}

#my-projects{
    height: 740px;
    padding: 0px 120px;
}

.project-section{
    flex-direction: column;
}

#my-projects .pro {
    height: 225px;
    width: 345px;
}

.pro img{
    height: 190px;
}

#contacts{
    padding: 0px 140px;
}

#footer{
    padding: 0px 90px;
}

.p-primary{
    font-size: 1rem;
}

.h-primary{
    font-size: 2rem;
}

.h-secondary{
    font-size: 1.3rem;
}
.p-secondary {
    font-size: 0.7rem;
}

.top-primary{
    font-size: 2.2rem;
}